body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 1;
}

.sidebar {
  position: fixed;
  top: 60px; /* same as the height of the topbar */
  left: 0;
  width: 200px; /* adjust as needed */
  height: calc(100% - 60px); /* subtract the height of the topbar */
  background-color: #f8f9fa;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.content {
  margin-left: 200px; /* same as the width of the sidebar */
  margin-top: 60px; /* same as the height of the topbar */
  padding: 20px;
}